.footerContainer {
  background-color: $bleuIx;
  color: $blanc;
  width: 100%;
  max-width: 1920px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  a{
    color : white;
}
  
}
