/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.containerNavbar {
  width: 100%;
  height: 60px;
  border: 1px solid #f1f1f1;
}
.containerNavbar ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.containerNavbar li {
  display: inline-block;
  transition: all 0.5s;
}
.containerNavbar li a {
  color: #f1f1f1;
  font-size: clamp(18px, 8px + 1vw, 28px);
}
.containerNavbar li:hover {
  border-bottom: 1px solid #f1f1f1;
}

.entetePage h1 {
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
.entetePage h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
.entetePage h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 15px 20%;
}
.entetePage p {
  width: 80%;
  margin: 0 auto;
  line-height: 20px;
  text-align: justify;
}

.entry_formulaire {
  width: 100%;
  margin: 20px auto;
  padding-left: 60px;
}
.entry_formulaire input {
  height: 50px;
  width: 500px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid #284B73;
  padding-left: 10px;
}
.entry_formulaire input:focus {
  box-shadow: 0px 0px 6px 3px #7EBCE6;
}
.entry_formulaire button {
  width: 500px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #7EBCE6;
  border: 2px solid #284B73;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.entry_formulaire .btnRed {
  background-color: rgb(230, 88, 88);
  border: 3px solid red;
}

.dnone {
  display: none;
}

.alert {
  background-color: #b4b6b3;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  height: 40px;
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.alert-danger {
  background-color: #f74d4d;
}

.alert-success {
  background-color: #9cf752;
}

.alert-warning {
  background-color: #f09104;
}

.headerContainer {
  width: 100%;
  max-width: 1920px;
  height: 250px;
  background-color: #284B73;
  padding-top: 30px;
  margin-bottom: 40px;
}
.headerContainer h1, .headerContainer h2 {
  color: #f1f1f1;
  text-align: center;
  font-weight: bold;
}
.headerContainer h1 {
  margin-bottom: 20px;
  font-size: 60px;
  letter-spacing: 15px;
}
.headerContainer h2 {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 3px;
}

.footerContainer {
  background-color: #284B73;
  color: #f1f1f1;
  width: 100%;
  max-width: 1920px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
.footerContainer a {
  color: white;
}

.erreur p {
  text-align: center;
  margin-top: 80px;
  font-size: 25px;
}

.containerLogin form {
  margin: 10px auto;
  max-width: 600px;
}

.modificationPassword form {
  margin: 10px auto;
  max-width: 600px;
}
.modificationPassword .validationSupp {
  background-color: rgb(230, 88, 88);
  border: 3px solid red;
}

.containerCreationCompte form {
  margin: 10px auto;
  max-width: 600px;
}

.charteContainer .charteContent {
  width: 100%;
  margin: 20px auto;
  max-width: 1920px;
}
.charteContainer .charteContent h3 {
  font-size: 24px;
}
.charteContainer .charteContent .content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.charteContainer .charteContent .content p {
  font-size: 20px;
  margin: 0 auto;
  width: 42%;
  line-height: 30px;
}
.charteContainer .charteContent .content .img {
  width: 42%;
  margin: 40px auto;
  box-shadow: 2px 2px 4px #333;
  border-radius: 10px;
  transition: all 0.25s;
}
.charteContainer .charteContent .separateur {
  height: 5px;
  width: 80%;
  margin: 0 auto;
  background-color: #284B73;
  margin-bottom: 40px;
}
.charteContainer .nextPage {
  width: 500px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto 50px;
  background-color: #7EBCE6;
  border: 2px solid #284B73;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.charteContainer .disable {
  cursor: not-allowed;
  background-color: #c4c4c4;
  border: 2px solid #4b4b4b;
  opacity: 0.5;
  z-index: 1;
}
.charteContainer .disable a {
  pointer-events: none;
}
.charteContainer .checkbox {
  width: -moz-fit-content;
  width: fit-content;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: nowrap;
}
.charteContainer .checkbox p {
  margin-left: 10px;
  white-space: nowrap;
}
.charteContainer .imgFull {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 15;
  transition: all 0.25s;
}
.charteContainer .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.5019607843);
  z-index: 14;
}

.containerProfil {
  margin: 10px auto;
  max-width: 600px;
}

.containerGestionProfil table {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.containerGestionProfil table, .containerGestionProfil th, .containerGestionProfil td, .containerGestionProfil tr {
  border: 2px solid #284B73;
  background-color: #7EBCE6;
  padding: 10px 5px;
}

body {
  margin-top: 1px solid #284B73;
  min-width: 730px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app {
  width: 100%;
  min-width: 730px;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #f1f1f1;
  color: #333;
}/*# sourceMappingURL=index.css.map */