@import "./libs/reset";
@import "./libs/variables";
@import "./libs/mixins";

@import "./sous-fichiers/navbar";
@import "./sous-fichiers/common";
@import "./sous-fichiers/alert";
@import "./sous-fichiers/header";
@import "./sous-fichiers/footer";

@import "./pages/accueil";
@import "./pages/erreur";
@import "./pages/login";
@import "./pages/creation";
@import "./pages/charte";
@import "./pages/deconnexion";
@import "./pages/profil";
@import "./pages/gestionProfils";
@import "./pages/accuses";


body{
  margin-top: 1px solid #284B73;
  min-width: 730px;
  background-color: #f1f1f1;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app {
  width: 100%;
  min-width: 730px;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #f1f1f1;
  color: #333;
}
