.charteContainer {
  .charteContent {
    width: 100%;
    margin: 20px auto;
    max-width: 1920px;

    h3 {
      font-size: 24px;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      p {
        font-size: 20px;
        margin: 0 auto;
        width: 42%;
        line-height: 30px;
      }
      .img {
        width: 42%;
        margin: 40px auto;
        box-shadow: 2px 2px 4px #333;
        border-radius: 10px;
        transition: all 0.25s;
      }
    }
    .separateur {
      height: 5px;
      width: 80%;
      margin: 0 auto;
      background-color: $bleuIx;
      margin-bottom: 40px;
    }
  }
  .nextPage {
    width: 500px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto 50px;
    background-color: $bleuIxClair;
    border: 2px solid $bleuIx;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .disable {
    cursor: not-allowed;

    background-color: #c4c4c4;
    border: 2px solid #4b4b4b;
    opacity: 0.5;
    z-index: 1;
    a {
      pointer-events: none;
    }
  }
  .checkbox {
    width: fit-content;
    height: 80px;
    @include flexMid;
    margin: 0 auto;
    flex-wrap: nowrap;
    p {
      margin-left: 10px;
      white-space: nowrap;
    }
  }
  .imgFull {
    position: absolute;
    top: 0;
    left: 0;
    // right: 0;
    // bottom: 0;
    width: 100%;
    height: auto;
    z-index: 15;
    transition: all 0.25s;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #33333380;
    z-index: 14;
  }
}
